@import 'core/settings';

body {
  min-height: 100vh;
}

.show__image-fake {
  height: 0;
  width: 0;
}

.show__image {
  height: 300px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.favorite {
  color: white;
  background-color: brown;
}
