<main class="page__main">
  <div class="main__left-panel">
    <partial src="_form.html" label="form"></partial>
    <h2 class="main__subtitle">
      Mis series favoritas<sapn class="counter"></sapn>
    </h2>
    <ol class="series__favorities"></ol>
    <button class="button__delete-all hidden">
      <i class="far fa-trash-alt"></i> Borrar todo
    </button>
  </div>
  <div class="main__right-panel">
    <h2 class="main__subtitle">Mi búsqueda</h2>
    <ol class="series"></ol>
  </div>
</main>
