.series__favorities {
  @include listDefault;
}

.favorite.show {
  color: $color-white;
  background-color: $color-pink;
}

.favorite__image {
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    color: $color-pink;
  }
}

.favorite__title-container {
  @include flexLayout;
}

.show__favorite {
  display: grid;
  grid-template-columns: 100px minmax(100px, 250px);
  grid-gap: 10px;
}

.animate__fadeIn {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.favorite__title {
  color: $color-pink;
  text-align: left;
}

.counter {
  background-color: $color-pink;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: $color-white;
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
}

.button__delete-all {
  padding: 9px 12px;
  cursor: pointer;
  font-weight: bold;
  color: $color-blueDark;
  background: $color-pink;
  border: 2px solid $color-pink;
  text-transform: capitalize;
  border-radius: 5px;
  margin-top: 20px;
  &:hover {
    color: $color-pink;
    background: $color-blueDark;
  }
}

.favorite__show {
  .favorities__container {
    display: none;
  }
  .collapse-icon {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
