.show__favorite {
  @include listDefault;
}
.favorite {
  color: white;
  background-color: brown;
}

.favorite__image {
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.favorite__delete-icon {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: $color-white;
  color: $color-darkGrey;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    background-color: $color-red;
  }
}

.favorite__title-container {
  @include flexLayout;
}

.show__favorite {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}
