.show__favorite {
  @include listDefault;
}
.favorite {
  color: white;
  background-color: brown;
}

.favorite__image {
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
  &:hover {
    color: $color-red;
  }
}

.favorite__title-container {
  @include flexLayout;
}

.show__favorite {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}
