.header__title {
  color: $color-white;
  font-family: $font-cinzel;
}

.tv-icon {
  color: $color-pink;
  margin-left: 50px;
  font-size: 50px;
  transform: rotate(30deg);
}

.header__subtitle {
  @media all and (min-width: 740px) {
    text-align: left;
  }
}
