* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  margin: 0;
  padding: 50px;
  background-color: $color-blueDark;
  color: $color-white;
  font-family: $font-montserrat;
}
