* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  margin: 0;
  padding: 30px 10px;
  background-color: $color-darkGrey;
  color: $color-white;
  font-family: $font-montserrat;
}
