$color-white: #fff;
$color-darkWhite: #ddd;
$color-darkGrey: #141414;
$color-grey: #e5e5e5;
$color-red: #f3387a;
$color-pink: #f3387a;
$color-blueLight: #004b75;
$color-blueDark: #20313b;

$font-montserrat: 'Montserrat', sans-serif;
$font-cinzel: 'Cinzel Decorative', cursive;
